header{
    height: 94.2833px !important;
}


.main-navbar-scroll{
    box-shadow: none !important;
}  

#video-page{

}

#video-page #videos-page-container{
    max-width: 1344px;
    margin: 0 auto;
    margin-top: 260px;
}

#video-page #videos-page-container .columns{

}

#video-page #videos-page-container .columns .column{
    
}

#video-page #videos-page-container .columns .video-box-item{
    height: 350px;
    border-radius: 20px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    display: block;
    overflow: hidden;
    
}

#video-page #videos-page-container .columns .video-box-item img{
    position: absolute;
    height: 100%;
    width: 100%;
   object-fit: cover;
   transition: all .2s;
}

#video-page #videos-page-container .columns .video-box-item:hover img{
    transform: scale(1.1);
}


#video-page #videos-page-container .columns .video-box-item:before{ 
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49,82,98, .7);
    z-index: 2;
    border-radius: 20px;
}

#video-page #videos-page-container .columns .video-box-item-btn{
    height: 100%;
    text-align: center;
    padding-top: 100px;
    z-index: 444;
    position: absolute;
    width: 100%;
}

#video-page #videos-page-container .columns .video-box-item-btn svg{
    width: 100px;
    margin: 0 auto;
    color: white;
    display: block;
}

#video-page #videos-page-container .columns .video-box-item .video-box-item-text{
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    z-index: 444;
    font-family: 'Montserrat', sans-serif;
}

#video-page #video-btn-container {
    margin-bottom: 150px;
}

#video-page #video-btn-container a{
    background-color: #143642;
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 300px;
    margin-top: 80px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.4em;
}

#video-page #video-btn-container a:hover {
    background: #4CA7D0;
    color: #1D3540;
}